// HomeLayout.module.scss

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex: 1;
}

.sidebar {
  position: fixed;
  top: 64px; /* Đảm bảo sidebar bắt đầu dưới header */
  left: 0;
  // width: 250px;
  height: calc(100% - 60px); /* Chiều cao sidebar bằng toàn bộ chiều cao màn hình trừ chiều cao header */
  background-color: #f4f4f4; /* Điều chỉnh theo màu sắc của bạn */
  // padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Để sidebar có bóng nhẹ */
  z-index: 100; /* Đảm bảo sidebar không bị che khuất bởi các phần tử khác */
}

.content {
  margin-left: 220px; /* Đảm bảo content không lấn vào sidebar */
  flex: 1;
  padding: 1rem;
  background-color: #fff;
  overflow-x: hidden; /* Ngăn việc cuộn ngang */
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.auth {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.auth .modal {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  width: 400px;
}

.footer {
  background-color: #1f2937; /* Màu nền footer */
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}
